name: ci

on:
  push:
    branches: [main, master, 'renovate/**']
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

jobs:
  build:
    name: Build/Test/Lint
    timeout-minutes: 15
    runs-on: ubuntu-latest

    env:
      NEXTAUTH_SECRET: ${{secrets.NEXTAUTH_SECRET}}
      AUTH_ORIGIN: ${{ secrets.AUTH_ORIGIN }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      DIRECT_DATABASE_URL: ${{ secrets.DIRECT_DATABASE_URL }}
      DISCORD_ADMIN_USER_ID: ${{ secrets.DISCORD_ADMIN_USER_ID }}
      DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
      DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
      CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
      CF_NAMESPACE_ID: ${{ secrets.CF_NAMESPACE_ID }}
      CF_EMAIL: ${{ secrets.CF_EMAIL }}
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      TURSO_DB_URL: ${{secrets.TURSO_DB_URL}}
      TURSO_DB_TOKEN: ${{secrets.TURSO_DB_TOKEN}}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4.2.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Install Playright
        run: pnpm dlx playwright-core install && pnpm exec playwright-core install

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Typecheck
        run: pnpm test:types
